html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.header {
    background: center center fixed;
    color: #FFF;
    height: 100vh;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;
}

#primary-nav {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}


/* .vertical {
    border-left: 0.5px solid grey;
    height: 250px;
    position: absolute;
    left: 50%;
} */

.centered {
    position: absolute;
    top: 50%;
    left: 0%;
}