html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
    color: #0f3057;
}

#tag {
    color: white!important;
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
}

#title {
    size: 5em;
    color: #0f3057;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-img-top:hover {
    border: 3px solid #1E90FF;
}

@media (max-width: 992px) {
    .navbar-collapse {
        background-color: white;
    }
}

.header {
    background: url("./images/img_2.jpg") center center;
    color: #FFF;
    height: 100vh;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;
}

.headers {
    background: url("./images/hero_1.jpg") center center;
    color: #FFF;
    height: 100vh;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;
}

.company-detail {
    font-size: 20px;
}

#primary-nav {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.centered {
    position: absolute;
    top: 50%;
    left: 0%;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}