.header {
    background: url("./images/hero_1.jpg") center center fixed;
    color: #FFF;
    height: 100vh;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;
}


/* .navbar-toggler {
    border-color: white!important;
} */

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}